<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Одежда</title>
    <link rel="stylesheet" href="../../static/main/css/style_clothes_home.css">
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>Одежда</h1>
        </div>
        <div class="gallery">
            <div class="item">
                <img src="https://via.placeholder.com/300" alt="Clothes">
                <h2>Мужская одежда</h2>
                <p>Описание товара</p>
                <p>Цена: $100</p>
            </div>
            <div class="item">
                <img src="https://via.placeholder.com/300" alt="Clothes">
                <h2>Женская одежда</h2>
                <p>Описание товара</p>
                <p>Цена: $100</p>
            </div>
        </div>
    </div>
</body>
</html>
